.container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.separator{
    background-color: #f0f0f0;
    width: 3px;
    height: 500px;
    margin: 5rem;
}