<div class="container">

    <div class="card" [routerLink]="['/perfil/123asd1e']">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>
    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

    <div class="card">
        <img class="icon" src="assets/images/icons/electricista.png" alt="">
        <div class="text">
            <span class="name">Ruben</span>
            <span class="job">Electricista</span>
            <span class="location">Mar del plata, La Perla</span>
        </div>

    </div>

</div>