.container {
    margin: auto;
    margin: 3rem;
}

.container-cards {
    margin-top: 3rem;
}

i {
    color: var(--color-principal);
    font-size: 28px;
}

label {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--color-principal);
}

.nav-bar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-back {
    background-color: white;
    border: none;
}

.right {
    margin-left: auto;
    padding: .5rem 1.5rem;
    border-radius: 300px;
    border: 1px solid lightgray;
}

.icon {
    height: 45px;
    transition: .2s;
    cursor: pointer;
    filter: grayscale(100%);
    border-radius: 100px;
}

.icon:hover {
    transform: scale(.9);
}

.icon.active{
    filter: grayscale(0%);
    transform: scale(1.3);
    margin: 0 .5rem;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 3rem 0;
        text-align: center;
    }

    .container-cards {
        margin-top: 2rem;
    }

    h2 {
        font-size: 20px;
    }


    img {
        height: 40px;
        transition: .3s;
        cursor: pointer;
        filter: grayscale(100%);
    }

    .right{
        display: none;
    }
}