.container {
    margin: auto;
    margin: 5rem;
}

.container-cards {
    margin-top: 3rem;
}

i{
    color: #806545;
    font-size: 28px;
}

label{
    margin-top: 1rem;
    font-weight: bold;
    color: #806545;
}

.header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.btn-back{
    background-color: white;
    border: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 3rem 0;
        text-align: center;
    }

    .container-cards {
        margin-top: 2rem;
    }

    h2{
        font-size: 20px;
    }

    .header{
        justify-content: center;
    }
}