<main class="container">

  <nav class="nav-bar" role="navigation" aria-label="Navegación principal">

    <div class="left">
      <button [routerLink]="['/']" class="btn-back" aria-label="Volver">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </button>
    </div>

    <div class="center">
      <h1 class="type">{{ job | titlecase }}s en Mar del Plata</h1>
      <label aria-live="polite">{{list?.length}} profesionales disponibles</label>
    </div>

    <div class="right" role="menubar" aria-label="Selector de oficio">
      <img (click)="switchJob('plomero')" [ngClass]="{'active': job === 'plomero'}"
        src="assets/images/icons/plomero.png" alt="Icono Plomero" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('electricista')" [ngClass]="{'active': job === 'electricista'}"
        src="assets/images/icons/electricista.png" alt="Icono Electricista" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('jardinero')" [ngClass]="{'active': job === 'jardinero'}"
        src="assets/images/icons/jardinero.png" alt="Icono Jardinero" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('pintor')" [ngClass]="{'active': job === 'pintor'}" src="assets/images/icons/pintor.png"
        alt="Icono Pintor" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('cerrajero')" [ngClass]="{'active': job === 'cerrajero'}"
        src="assets/images/icons/cerrajero.png" alt="Icono Cerrajero" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('carpintero')" [ngClass]="{'active': job === 'carpintero'}"
        src="assets/images/icons/carpintero.png" alt="Icono Carpintero" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('limpieza')" [ngClass]="{'active': job === 'limpieza'}"
        src="assets/images/icons/limpieza.png" alt="Icono Limpieza" class="icon" role="menuitem" tabindex="0" />
      <img (click)="switchJob('tecnico')" [ngClass]="{'active': job === 'tecnico'}"
        src="assets/images/icons/tecnico.png" alt="Icono Técnico" class="icon" role="menuitem" tabindex="0" />
    </div>

  </nav>

  @if (!list) {
  <div class="cards-wrapper">
    <article *ngFor="let _ of [1,2,3,4,5]" class="card skeleton" tabindex="0" aria-hidden="true">
      <div class="icon skeleton-icon"></div>
      <div class="text">
        <div class="skeleton-name skeleton-block"></div>
        <div class="skeleton-job skeleton-block"></div>
        <div class="skeleton-location skeleton-block"></div>
      </div>
    </article>
  </div>
  }
  @if (list) {
  <section class="container-cards" aria-live="polite" aria-relevant="additions removals">
    <app-list [list]="list"></app-list>
  </section>
  }

</main>