<header class="header">
    <div class="container">
      <div class="left">
        <img [routerLink]="['']" class="icon" src="assets/images/logo.png" alt="Logo">
      </div>
  
      <div class="center" [class.abierto]="menuAbierto">
        <ul (click)="toggleMenu()">
  
          <!-- Botones solo visibles en mobile -->
          <li class="mobile-only" *ngIf="!isAuthenticated">
            <button (click)="logIn()" class="btn-publicar">Iniciar sesión</button>
          </li>
          <li class="mobile-only" *ngIf="isAuthenticated">
            <button (click)="logOut()" class="btn-iniciarSesion">Cerrar sesión</button>
            <button [routerLink]="['/mi-perfil']" class="btn-publicar">Mi perfil</button>
          </li>
        </ul>
      </div>
  
      <div class="right">
        @if(!isAuthenticated){
        <button (click)="logIn()" class="btn-publicar desktop-only">Ingresar</button>
        }
        @if(isAuthenticated){
        <button (click)="logOut()" class="btn-iniciarSesion desktop-only">Cerrar sesión</button>
        <button [routerLink]="['/mi-perfil']" class="btn-publicar desktop-only">Mi perfil</button>
        }
        <button class="burger" (click)="toggleMenu()">
          <i class="fas" [ngClass]="menuAbierto ? 'fa-times' : 'fa-bars'"></i>
        </button>
        
      </div>
    </div>
  </header>
  