<div class="container">

    <div class="profile-info">

        <div class="action-buttons">
            <button class="whatsapp">WhatsApp</button>
            <button class="call-me">Llamame</button>
        </div>

        <div class="profile-icon-box">

            <div class="profile-icon">
                <img src="assets/images/icons/electricista.png" alt="">
            </div>

            <div class="profile-name">
                <span class="name">Ruben</span>
                <span class="job">Electricista</span>
                <span class="location">Mar del Plata, La Perla 📍</span>
            </div>

        </div>

        <p class="profile-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum rem
            temporibus libero eum. Voluptate dolor ad sunt asperiores provident officia! Ducimus vitae necessitatibus
            minus unde iure inventore deserunt architecto. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Amet sequi quisquam commodi harum quis nobis quam aut est. Debitis cumque autem vero cupiditate nemo laborum
            rem aliquam ad quam ipsum.</p>
    </div>


    <div class="schedule">

        <div class="schedule-time">
            <h3>Horarios de trabajo</h3>
            <span>Lunes - viernes</span>
            <span>8:00 - 16:00.</span>
        </div>

        <div class="tags">
            <span class="tag">Cableado eléctrico</span>
            <span class="tag">Cableado eléctrico</span>
            <span class="tag">Cableado eléctrico</span>
            <span class="tag">Cableado eléctrico</span> 
            <span class="tag">Cableado eléctrico</span>
        </div>

    </div>

    <div class="pricing">

        <div class="box">
            <h4 class="price">$34.000</h4>
            <span>Precio visita.</span>
        </div>

        <div class="box">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107" width="24" height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              
            <span>(5.0)</span>
        </div>

        <div class="box">
            <h4 class="price">+10</h4>
            <span>Años de experiencia.</span>
        </div>

    </div>

</div>