<div class="container">

    <div class="profile-info">

        <div class="action-buttons">
            <button (click)="abrirWhatsApp()" class="whatsapp">WhatsApp<i class="fab fa-whatsapp"></i></button>
            <button (click)="llamar()" class="call-me">Llamame<i class="fas fa-phone-alt"></i></button>
        </div>

        <div class="profile-icon-box">

            <div class="profile-icon">
                @if(publicacion){
                <img class="icon" [src]="'assets/images/icons/' + publicacion.job.toLowerCase() + '.png'" alt="">
                }
            </div>

            

            <div class="profile-name">
                <span class="name">{{publicacion?.userName}}</span>
                <span class="job">{{publicacion?.job}}</span>
                <span class="location"><i class="fas fa-map-marker-alt"></i> {{publicacion?.location}}</span>
            </div>

        </div>

        <p class="profile-description">{{publicacion?.description}}</p>
    </div>


    <div class="schedule">

        <div class="schedule-time">
            <h3>Horarios de trabajo</h3>
            <br>
            <span>{{publicacion?.schedule}}</span>
        </div>

        <div class="tags">
            <span class="tag">Rápido</span>
            <span class="tag">Confiable</span>
            <span class="tag">Económico</span>
            <span class="tag">24hs</span>
            <span class="tag">Garantía</span>
            <span class="tag">Profesional</span>
            <span class="tag">Urgencias</span>
            <span class="tag">Certificado</span>
            <span class="tag">Experto</span>
            <span class="tag">Local</span>
        </div>


    </div>

    <div class="pricing">

        <div class="box">
            <h4 class="price">{{publicacion?.pricing}}</h4>
            <span>Precio visita.</span>
        </div>

        <div class="box">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107" width="24"
                height="24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
            </svg>

            <span>(5.0) opiniones</span>
        </div>

        <div class="box">
            <h4 class="price">{{publicacion?.experience}}</h4>
            <span>Años de experiencia.</span>
        </div>

    </div>

</div>