<div class="container">
    <div class="img">
        <img src="assets/images/icons/destacados.png" alt="" class="logo">
    </div>


    <div class="container-cards">
        <!-- Plomero -->
        <div class="card-container">
            <div class="top">
                <label class="job" for="">Plomero</label>
            </div>
            <div class="mid">
                <div class="mid-left">
                    <img src="assets/images/icons/plomero.png" alt="Icono Plomero" class="icon">
                    <label class="name" for="">Carlos Funes</label>
                    <label class="location" for=""><i class="fas fa-map-marker-alt"></i> Mar del Plata</label>
                </div>
                <div class="mid-right">
                    <label for="">(18 opiniones)</label>
                    <div class="stars">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>Especialista en cañerías, desagües y reparaciones urgentes. Más de 10 años de experiencia.</p>
            </div>
        </div>

        <!-- Jardinero -->
        <div class="card-container">
            <div class="top">
                <label class="job" for="">Jardinero</label>
            </div>
            <div class="mid">
                <div class="mid-left">
                    <img src="assets/images/icons/jardinero.png" alt="Icono Jardinero" class="icon">
                    <label class="name" for="">Federico Ríos</label>
                    <label class="location" for=""><i class="fas fa-map-marker-alt"></i> Mar del plata</label>
                </div>
                <div class="mid-right">
                    <label for="">(25 opiniones)</label>
                    <div class="stars">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>Mantenimiento de jardines, poda, césped y diseño verde. Puntual, prolijo y amante de los espacios
                    verdes.</p>
            </div>
        </div>

        <!-- Pintor -->
        <div class="card-container">
            <div class="top">
                <label class="job" for="">Pintor</label>
            </div>
            <div class="mid">
                <div class="mid-left">
                    <img src="assets/images/icons/pintor.png" alt="Icono Pintor" class="icon">
                    <label class="name" for="">Miguel Torres</label>
                    <label class="location" for=""><i class="fas fa-map-marker-alt"></i> Mar del plata</label>
                </div>
                <div class="mid-right">
                    <label for="">(14 opiniones)</label>
                    <div class="stars">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>Interior y exterior, pintura de obra y decorativa. Detallista y con excelente acabado en cada
                    trabajo.</p>
            </div>
        </div>

        <!-- Electricista -->
        <div class="card-container">
            <div class="top">
                <label class="job" for="">Electricista</label>
            </div>
            <div class="mid">
                <div class="mid-left">
                    <img src="assets/images/icons/electricista.png" alt="Icono Electricista" class="icon">
                    <label class="name" for="">Juan Salvo</label>
                    <label class="location" for=""><i class="fas fa-map-marker-alt"></i> Mar del plata</label>
                </div>
                <div class="mid-right">
                    <label for="">(11 opiniones)</label>
                    <div class="stars">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                            width="24" height="24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p>Instalaciones eléctricas domiciliarias, reparaciones, automatización y tableros. Trabajo seguro y
                    garantizado.</p>
            </div>
        </div>
    </div>


</div>