<div class="container">
    <button (click)="toggleReview()" class="btn-review">
        <img class="icon-make-review" src="assets/images/icons/review.png" alt="">Hacer
        reseña</button>
    @for (r of reviews; track $index) {
    <article class="review">
        <figure class="left">
            <img class="icon-reviewer" src="assets/images/icons/userMan.png" alt="Avatar">
        </figure>

        <div class="right">
            <header class="top">
                <div class="top-left">
                    <strong class="name">{{r.userName}}</strong>
                    <time class="date" [attr.datetime]="r.dateAdded">{{ r.dateAdded | date:'dd/MM/yyyy' }}</time>
                </div>
                <div class="stars" [attr.aria-label]="'Puntuación: ' + r.score + ' estrellas'">
                    <ng-container *ngFor="let star of [1,2,3,4,5]">
                        <svg xmlns="http://www.w3.org/2000/svg" [attr.fill]="star <= r.score ? '#ffc107' : '#e0e0e0'"
                            viewBox="0 0 24 24" stroke="#ffc107" width="20" height="20" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 
                             9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </ng-container>
                </div>

            </header>

            <section class="bottom">
                <p class="text">{{r.textReview}}</p>
            </section>
        </div>
    </article>
    }

    @if(isAdding){
    <div class="overlay" (click)="closeIfOutside($event)">
        <form [formGroup]="form" class="form-container" (click)="$event.stopPropagation()">
            <header class="header-review">
                <button (click)="toggleReview()" class="btn-close"><i class="fas fa-times"></i></button>
            </header>

            <div class="top-review">
                <img src="assets/images/icons/electricista.png" alt="" class="icon-review">
                <h3>¿Como fue el servicio de Matias?</h3>

                <div class="star-rating">
                    <ng-container *ngFor="let star of stars; index as i">
                        <svg (click)="rate(i + 1)" [ngClass]="{ filled: i < rating }" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" width="30" height="30" class="star">
                            <path d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 
                             9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                        </svg>
                    </ng-container>
                </div>


            </div>

            <div class="mid-review">
                <label for=""> (Minimo 20 caracteres)</label>
                <textarea minlength="20" class="textarea-review" formControlName="review" name="review" id=""
                    placeholder="Contanos cómo fue tu experiencia con este profesional."></textarea>
            </div>

            <div class="bottom-review">
                <button (click)="submitReview()" class="btn-share" [disabled]="form.invalid">Publicar</button>
            </div>

        </form>
    </div>
    }

    @if(needLogin){
    <div class="overlay" (click)="closeIfOutside($event)">
        <div class="login-container" (click)="$event.stopPropagation()">
            <header class="header-login">
                <button (click)="toggleReview()" class="btn-close"><i class="fas fa-times"></i></button>
            </header>
            <div class="top-login"><img class="loginIcon" src="assets/images/icons/logIn.png" alt="loginIcon"></div>
            <div class="mid-login">
                <h3>Contanos tu experiencia con Matias</h3>
                <p>Deja tu reseña registrandote o iniciando sesión.</p>
            </div>
            <div class="bottom-login">
                <button (click)="authenticate()" class="btn-register">Registrate en Mano Amiga</button>
                <button (click)="authenticate()" class="btn-login">Iniciar sesión</button>
            </div>
        </div>
    </div>
    }

</div>