<div class="container">

    <div class="text">
        <h1 class="title">Encontrá especialistas cerca tuyo, fácil y rápido</h1>
        <p class="desc">Desde arreglos simples hasta tareas más complejas, conectate con profesionales confiables de tu
            ciudad.</p>
    </div>

    <div class="container-icons">
        <img [routerLink]="['/categoria/plomero']" src="assets/images/icons/plomero.png" alt="" class="icon">
        <img [routerLink]="['/categoria/electricista']" src="assets/images/icons/electricista.png" alt="" class="icon">
        <img [routerLink]="['/categoria/albanil']" src="assets/images/icons/albanil.png" alt="" class="icon">
        <img [routerLink]="['/categoria/carpintero']" src="assets/images/icons/carpintero.png" alt="" class="icon">
        <img [routerLink]="['/categoria/herrero']" src="assets/images/icons/herrero.png" alt="" class="icon">
        <img [routerLink]="['/categoria/pintor']" src="assets/images/icons/pintor.png" alt="" class="icon">
        <img [routerLink]="['/categoria/pintor2']" src="assets/images/icons/pintor2.png" alt="" class="icon">
        <img [routerLink]="['/categoria/mecanico']" src="assets/images/icons/mecanico.png" alt="" class="icon">
        <img [routerLink]="['/categoria/tecnicoAA']" src="assets/images/icons/tecnicoAA.png" alt="" class="icon">
        <img [routerLink]="['/categoria/tecnicoLR']" src="assets/images/icons/tecnicoLR.png" alt="" class="icon">
    </div>

</div>