

<div class="container">

    <!-- Desktop: título con palabra dinámica animada -->
    <h1 *ngIf="isDesktop" class="desktop-title">
      Encontrá&nbsp;
      <span class="job-container">
        <span [class.animate]="animate" style="color: red;">{{ currentJob }}</span>
      </span>
      &nbsp;cerca tuyo fácil y rápido.
    </h1>
  
    <!-- Mobile: título fijo sin animación -->
    <h1 *ngIf="!isDesktop" class="mobile-title">
      Encontrá profesionales cerca tuyo.
    </h1>
    
    <button (click)="register()" class="btn-post">¡Publicá tu servicio ahora!</button>
  
    <!-- Resto del código -->
    <div class="container-icons">
        <div class="card">
            <img [routerLink]="['/categorias', location, 'plomero']" src="assets/images/icons/plomero.png" alt=""
                class="icon">
            <label>Plomeros</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'electricista']" src="assets/images/icons/electricista.png"
                alt="" class="icon">
            <label>Electricistas</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'jardinero']" src="assets/images/icons/electricista.png" alt=""
                class="icon">
            <label>Jardineros</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'pintor']" src="assets/images/icons/plomero.png" alt=""
                class="icon">
            <label>Pintores</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'cerrajero']" src="assets/images/icons/electricista.png" alt=""
                class="icon">
            <label>Cerrajeros</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'carpintero']" src="assets/images/icons/plomero.png" alt=""
                class="icon">
            <label>Carpinteros</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'limpieza']" src="assets/images/icons/electricista.png" alt=""
                class="icon">
            <label>Limpieza</label>
        </div>
        <div class="card">
            <img [routerLink]="['/categorias', location, 'tecnico']" src="assets/images/icons/plomero.png" alt=""
                class="icon">
            <label>Técnicos</label>
        </div>
    </div>
  
    <app-users-cards></app-users-cards>
  
    <app-general-reviews></app-general-reviews>
  
    <app-faq></app-faq>
  
  </div>
  