<main class="container" role="main">
  <section class="card" aria-labelledby="error-title">
    <div class="left">
      <img src="assets/images/icons/fallida.webp" alt="Error al crear publicación" class="icon" />
    </div>
    <div class="right">
      <h2 id="error-title" class="status" role="alert">
        {{ 'failure.title' | translate }}
      </h2>
      <p>{{ 'failure.text' | translate }}</p>
    </div>
  </section>

  <div class="btn-container">
    <button [routerLink]="['']" class="btn-home">{{ 'success.home' | translate }}</button>
    <button [routerLink]="['/mi-perfil']" class="btn-posts">{{ 'success.myPosts' | translate }}</button>
  </div>
</main>
