<div class="container">

    <div class="img">
        <img src="assets/images/icons/testimonios.png" alt="" class="logo">
    </div>

    <div class="carousel-container">



        <div class="carousel">
            <div *ngFor="let t of testimonios; let i = index" class="card" [ngClass]="getClass(i)">
                <div class="top">
                    <img [src]="t.icono" class="icon" alt="icono" />
                    <span class="name">{{ t.nombre }}</span>
                    <div class="stars">
                        <ng-container *ngFor="let star of [1,2,3,4,5]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffc107" viewBox="0 0 24 24" stroke="#ffc107"
                                width="24" height="24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                            </svg>
                        </ng-container>
                    </div>
                </div>
                <div class="bottom">{{ t.texto }}</div>
            </div>
        </div>


    </div>
    <div class="carousel-buttons">
        <button class="nav" (click)="anterior()"><i class="fas fa-chevron-left"></i></button>
        <button class="nav" (click)="siguiente()"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>