.container {
  width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 600px;
  min-height: 250px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: white;
  gap: 1rem;
}

.icon {
  width: 120px;
  max-width: 100%;
}

.left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 70%;
  text-align: justify;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.status {
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn-container button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: var(--color-principal);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 180px;
}

@media screen and (max-width: 768px) {

  .container{
    width: 300px;
  }
  .card {
    text-align: center;
    padding: 1.5rem;
  }

  .left,
  .right {
    width: 100%;
    padding: 0;
  }

  .icon {
    width: 100px;
    margin-bottom: 1rem;
  }

  .right p {
    font-size: 0.95rem;
  }

  .status {
    font-size: 1.1rem;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn-container button {
    width: 300px;
  }
}