<div class="container">
    <div class="card">
        <div class="lef">
            <img src="assets/images/icons/exitosa.png" alt="" class="icon">
        </div>
        <div class="right">
            <h2 class="status">¡Publicación creada con éxito!</h2>
            <p>Tu publicación ha sido registrada correctamente y está pendiente de aprobación. Muy pronto un
                administrador
                la revisará y, si todo está bien, estará visible en la plataforma.
                ¡Gracias por compartir tu servicio con la comunidad!</p>
        </div>
    </div>

    <div class="btn-container">
        <button [routerLink]="['']" class="btn-home">Inicio</button>
        <button [routerLink]="['/mi-perfil']" class="btn-posts">Mis publicaciones</button>
    </div>
</div>