.container{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

@media (max-width: 768px) {
    .container{
        margin: 1rem;
    }
  }